/*********************    Colors  *************************************************
************************************************************************************/
$main-color:#aaaaaa;
$div-head  :#4b4b4b;


/*********************    Fonts  *************************************************
************************************************************************************/
$paragraphs : 'PT Sans', sans-serif;
$heading     :'Old Standard TT'



/*********************    Buttons  *************************************************
************************************************************************************/